<h1>ToDo</h1>
<div class="container">
<div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter Valid Values</div>
<div class="alert alert-warning" *ngIf="todoForm.dirty && targetDate.invalid">Enter Valid Target Date</div>
<div class="alert alert-warning" *ngIf="todoForm.dirty && description.invalid">Enter Description Min length atleast 5!</div>
 <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
<fieldset class="form-group">
<label>Description</label>
<input type="text" #description="ngModel" [(ngModel)]="todo.description" class="form-control" name="description" required="required" minlength="5">
</fieldset>
<fieldset class="form-group">
<label>Target Date</label>
<input type="date" #targetDate="ngModel"
 [ngModel]="todo.targetDate | date:'yyyy-MM-dd' " 
 (ngModelChange)="todo.targetDate = $event"
 class="form-control" name="targetDate" required="required">
</fieldset>
<button type="submit" class="btn btn-success">Save</button>
<!--
<button class="btn btn-success" (click)="saveTodo()">Save</button> -->
</form>
</div>
